@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Indie+Flower&family=Roboto+Mono:wght@600&family=Secular+One&family=Sigmar&family=Titan+One&display=swap');

body {
    font-family: 'Secular One', sans-serif;
    margin: 0 0 0 0;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main-container {
    background: rgb(255, 255, 255);
    width: 100vw;
    height: 500vh;
}

.head {
    position: relative;
    display: flex;
    width: 1430px;
    height: 100px;
    margin: 0 auto -20px auto;
}

.logo {
    display: flex;
    justify-content: center;
    flex: 0.5;
}

.nav-bar {
    font-size: 1.1em;
    color: #252b42;
    display: flex;
    flex: 2;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar > li > a {
    margin: 0 20px 0 120px;
    cursor: pointer;
    color: inherit;
}

.nav-bar > li:nth-child(1) {
    color: #fa4a0c;
}

.app {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px auto 0 auto;
    width: 100vw;
    height: 600;
}

.background-img {
    padding: 30px 0;
    position: relative;
    background: url(../image/two-whole-pizza-tomato-and-cheese-in-a-wooden-table-wallpaper-3440x1440_15\ \(1\).jpg) no-repeat;
    background-size: cover;
    width: 1430px;
    height: 570px;
}

.cover {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.advertising-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.4em;
}

.advertising-info > div > p,
.advertising-info > p {
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
}

.body-info {
    margin: -40px 0;
    display: flex;
    justify-content: center;
    word-spacing: 5px;
    font-size: 2.4em;
    text-align: center;
    width: 80%;
}

.foot-info {
    width: 60%;
    text-align: center;
    font-size: inherit;
    line-height: 30px;
}

.buttons-app {
    margin: 30px 0;
    width: 70%;
    display: flex;
    justify-content: center;
}

.playstore,
.app-store {
    margin: 0 20px;
    width: 200px;
    text-align: center;
    display: inline-block;
    padding: 0.8em 1.5em;
    border-radius: 30px;
    border: 2px solid white;
}

.playstore {
    background: #fa4a0c;
    border: 2px solid #990808;
}

.btn-orange:hover {
    transform: translateY(-1px);
    cursor: pointer;
    background: #990808;
    border: 2px solid #990808;
    transition: all 0.1s ease-in 0s;
}

.phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.phone-image {
    display: flex;
    justify-content: center;
}

.bottom-line::after {
    content: '';
    background-color: #e4e4e4;
    height: 3px;
    width: 900px;
    display: block;
}

.account,
.varieties,
.checkout {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #252b42;
    border: 2px solid orangered;
}

.account-wrapper,
.varieties-wrapper,
.checkout-wrapper {
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    width: 1100px;
    border: 2px solid rgb(34, 224, 28);
}

.account-wrapper-image > img,
.varieties-wrapper-image > img,
.checkout-wrapper-image > img {
    filter: drop-shadow(0px 0 30px #979797);
}

.account-wrapper-text,
.varieties-wrapper-text,
.checkout-wrapper-text {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}

.account-wrapper-text > p,
.varieties-wrapper-text > p,
.checkout-wrapper-text > p {
    display: inline-block;
    margin: 18px 0;
}

.account-wrapper-text > p:nth-child(odd),
.varieties-wrapper-text > p:nth-child(odd),
.checkout-wrapper-text > p:nth-child(odd) {
    font-size: 0.9em;
    font-weight: 100;
    color: #737373;
}

.account-wrapper-text > p:nth-child(-n+2),
.varieties-wrapper-text > p:nth-child(-n+2),
.checkout-wrapper-text > p:nth-child(-n+2){
    font-size: 1.4em;
    font-weight: 700;
}

.account-wrapper-text > p:nth-child(1),
.varieties-wrapper-text > p:nth-child(1),
.checkout-wrapper-text > p:nth-child(1){
    color: #fa4a0c;
    font-size: 0.9em;
}

@media (max-width: 800px) {
    .advertising-info {
        font-size: 1.3em;
    }
}

@media (max-width: 1430px) {
    .head-wrapper {
        width: 100vw;
    }
}

@media (max-width: 770px) {
    .phone-image > img {
        width: 50vw;
    }

    /* .registration-phone-wrapper > img {
        width: 50vw;
    } */
}