
body {
    margin: 0 0 0 0;
    color: indigo;
}

.main-container {
    padding: 17px 0 0 0;
    background: burlywood;
    width: 100vw;
    height: 200vh;
}

.head-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 10vh;
    margin: 0 auto;
    border: 2px red solid;
}

.logo-wrapper {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    flex: 1;
    border: 2px solid green;
}

.head-box {
    display: flex;
    flex: 3;
    border: 2px blue solid;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

li {
    border: 2px solid black;
}

.dowload-app {
    
    position: relative;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100vw;
    height: 800px;
}

.top-background {
    background: url(../image/two-whole-pizza-tomato-and-cheese-in-a-wooden-table-wallpaper-3440x1440_15\ \(1\).jpg) no-repeat;
    background-size: contain;
    position: absolute;
    width: 1430px;
    height: 570px;
    overflow: hidden;

    border: 2px solid blueviolet;
}

