@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto+Mono:wght@600&family=Secular+One&family=Sigmar&family=Titan+One&display=swap');
body {
    font-family: 'Titan One', cursive;
    margin: 0 0 0 0;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
}

li {
    border: 2px solid black;
}

.main-container {
    padding: 17px 0 0 0;
    background: rgb(219, 202, 178);
    width: 100vw;
    height: 200vh;
}

.head-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 10vh;
    margin: 0 auto;
    border: 2px red solid;
}

.logo-wrapper {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    flex: 1;
    border: 2px solid green;
}

.head-box {
    display: flex;
    flex: 3;
    border: 2px blue solid;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.dowload-app {
    
    position: relative;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100vw;
    height: 800px;
}

.top-background {
    position: relative;
    background: url(../image/two-whole-pizza-tomato-and-cheese-in-a-wooden-table-wallpaper-3440x1440_15\ \(1\).jpg) no-repeat;
    background-size: contain;
    width: 1430px;
    height: 570px;
    overflow: hidden;
}

.cover {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.advertising-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.4em;
    z-index: 5;
}

.body-info {
    word-spacing: 5px;
    font-size: 2.5em;
    line-height: 15px;
    text-align: center;
    width: 70%;
}

.playstore,
.app-store {
    padding: 20px 50px;
    border-radius: 30px;
    border: 2px solid white;
}

.playstore {
    background: #fa4a0c;
    border: 2px solid #990808;
}

.playstore:hover,
.app-store:hover {
    transform: translateY(-1px);
    cursor: pointer;
    background: #990808;
    border: 2px solid #990808;
    transition: all 0.1s ease-in 0s;
}

.buttons-app {
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

