<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div class="main-container">
        <header>
            <div class="head">
                <div class="logo">
                    <img src="../image/image_2023-04-26_00-43-02.png" alt="">
                </div>
                <ul class="nav-bar">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </header>
        <main>
            <section class="app">
                <div class="background-img">
                    <div class="cover"></div>
                    <div class="advertising-info">
                        <p class="head-info">Food app</p>
                        <div class="body-info">
                            <p>Why stay hungry when you can order form Bella Onojie</p>
                        </div>
                        <p class="foot-info">Download the bella onoje’s food app now on</p>
                        <div class="buttons-app">
                            <div class="playstore btn-orange"><a href="#">Playstore</a></div>
                            <div class="app-store btn-orange"><a href="#">App store</a></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="phone">
                <div class="phone-image">
                    <img src="../image/double-phone.jpg" alt="">
                </div>
                <div class="bottom-line">.</div>
            </section>
            <section class="account">
                <h2>How the app works</h2>
                <div class="account-wrapper">
                    <div class="account-wrapper-image">
                        <img src="../image/acoount.png" alt="">
                    </div>
                    <div class="account-wrapper-text">
                        <p>Create an account</p>
                        <p>Create/login to an existing account to get started</p>
                        <p>An account is created with your email and a desired password</p>
                    </div>
                </div>
            </section>
            <section class="varieties">
                <div class="varieties-wrapper">
                    <div class="varieties-wrapper-text">
                        <p>Explore varieties</p>
                        <p>Shop for your favorites meal as e dey hot.</p>
                        <p>Shop for your favorite meals or drinks and enjoy while doing it.</p>
                    </div>
                    <div class="varieties-wrapper-image">
                        <img src="../image/varieties.png" alt="">
                    </div>
                </div>
            </section>
            <section class="checkout">
                <div class="checkout-wrapper">
                    <div class="checkout-wrapper-image">
                        <img src="../image/checkout.png" alt="">
                    </div>
                    <div class="checkout-wrapper-text">
                        <p>Create an account</p>
                        <p>Create/login to an existing account to get started</p>
                        <p>An account is created with your email and a desired password</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>