<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div class="main-container">
        <div class="head-wrapper">
            <div class="logo-wrapper">
                <img src="../image/pizza-logo-E6DE845BD3-seeklogo.com.png" alt="">
            </div>
            <ul class="head-box">
                <li>Home</li>
                <li>Product</li>
                <li>Faq</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="dowload-app">
            <div class="top-background">
                <div class="cover"></div>
                <div class="advertising-info">
                    <p class="head-info">Food app</p>
                    <div class="body-info">
                        <p>Why stay hungry when you can order form Pizza House</p>
                    </div>
                    <p class="foot-info">Download the bella onoje’s food app now on</p>
                    <div class="buttons-app">
                        <div class="playstore"><a href="/">Playstore</a></div>
                        <div class="app-store"><a href="/">App store</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>