<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div class="main-container">
        <header>
            <div class="head-wrapper">
                <div class="head adaptive">
                    <div class="logo">
                        <img src="../image//logo.png" alt="">
                    </div>
                    <ul class="nav-bar">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <section class="app">
                <div class="background-img">
                    <div class="app-info-wrapper">
                        <p class="app-head-info">Food app</p>
                        <div class="app-body-text">
                            <p>Why stay hungry when you can order form Bella Onojie</p>
                        </div>
                        <p>Download the bella onoje’s food app now on</p>
                        <div class="buttons-app">
                            <div class="playstore btn-active btn-orange"><a href="#">Playstore</a></div>
                            <div class="app-store btn-active"><a href="#">App store</a></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="phone">
                <div class="phone-image adaptive">
                    <img src="../image/Phones.png" alt="">
                </div>
                <div class="bottom-line">.</div>
            </section>
            <section class="account">
                <h2>How the app works</h2>
                    <div class="account-wrapper adaptive">
                        <div class="text-top">
                            <div class="account-wrapper-image">
                                <img src="../image/acoount.png" alt="">
                            </div>
                            <div class="account-wrapper-text">
                                <p>Create an account</p>
                                <p>Create/login to an existing account to get started</p>
                                <p>An account is created with your email and a desired password</p>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="varieties">
                <div class="varieties-wrapper adaptive">
                    <div class="varieties-wrapper-text">
                        <p>Explore varieties</p>
                        <p>Shop for your favorites meal as e dey hot.</p>
                        <p>Shop for your favorite meals or drinks and enjoy while doing it.</p>
                    </div>
                    <div class="varieties-wrapper-image">
                        <img src="../image/varieties.png" alt="">
                    </div>
                </div>
            </section>
            <section class="checkout">
                <div class="checkout-wrapper adaptive">
                    <div class="text-top">
                        <div class="checkout-wrapper-image">
                            <img src="../image/checkout.png" alt="">
                        </div>
                        <div class="checkout-wrapper-text">
                            <p>Create an account</p>
                            <p>Create/login to an existing account to get started</p>
                            <p>An account is created with your email and a desired password</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="download">
                <div class="background-img-2">
                    <div class="download-info-wrapper">
                        <div class="download-text">
                            <p>Download the app now.</p>
                        </div>
                        <p>Available on your favorite store. Start your premium experience now</p>
                        <div class="buttons-app">
                            <div class="playstore btn-active btn-orange"><a href="#">Playstore</a></div>
                            <div class="app-store btn-active"><a href="#">App store</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="logo footer-logo">
                    <img src="../image/logo.png" alt="">
                </div>
                <ul class="social">
                    <li><a href="https://www.facebook.com/" target="_blank">
                        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    </a></li>
                    <li><a href="https://twitter.com/" target="_blank">
                        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                    </a></li>
                    <li><a href="https://www.instagram.com/" target="_blank">
                        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    </a></li>
                </ul>
                <div class="foot-name">
                  <p>2021, Bella Onojie</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>